:root{
    --primary-color:  #c30000;
    --secondary-color:#003885 ;
}

*{ 
    box-sizing: border-box;
 }

body{
    background-color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}


header h2{
    
        font-size: 2rem;
        margin: 0;
        padding: 5px 10px;
        background-color: #ffa602;
        width: 100%;
        overflow-x: hidden;
        text-align: center;
    
    
}

.search-bar  {
    display: none;
    padding: 0.5rem;
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid var(--primary-color);
    font-family: inherit;
    color: #000;
}

.search-bar:focus{
    outline:0;
    background-color: var(--primary-color);
}

.search-bar::placeholder{
    color: rgba(255, 255, 255, 0.572)
    ;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    width: 300px;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0.2px 4px 5px rgb(0, 0, 0);
    background-color: var(--secondary-color);
    position: relative;
    overflow: hidden;
    cursor: pointer;

}

.movie img{
    width: 100%;
}

.movie-info{
    color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
    
}

.movie-info h3 {
    margin-top: 0;
    text-align: center;
}

.movie-info span{
    background-color: black;
    padding: 0.25rem 0.5rem;
    border-radius: 30px;
    font-weight: bold;
}

.movie-info span.green{

    color: lightgreen;
}
.movie-info span.orange{

    color: orange;
}
.movie-info span.red{

    color: orangered;
}

.overview{
    position:absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: azure;
    padding: 1rem;
    max-height:100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
    
}

.movie:hover .overview{
    transform: translateY(0);
}


/* CHARACTER DESCRIPTION STYLING*/

#characterDetails { 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #003885;

}

.titleImage {
    border: solid 10px #c30000;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: auto;           
    max-width: 100%;       
    height: auto;          
    display: block;        
    margin: auto;   
    box-shadow: #000 5px 5px 5px;
    z-index: 1;
}



h1 {
    font-size: 3rem;
    margin-top: 0; 
    background-color: #c30000;
    box-sizing: border-box;  
    width: 50%;  
    border:  5px solid #c30000;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: #0000007c 5px 5px 5px;
    text-align: center;
    text-shadow: #ffa602 1px 3px 0.3px ;
}


p {
    background-color: #000;
    border: #ffa602 solid;
    padding: 1rem ;
    color: #ffffff;
    margin: auto;


}