#noContentMessage {
    display: none;
}

body {
    justify-content: space-evenly;
    background-color: #000000;
}

header {
    color: #518cca;
    text-align: center;
    font-size: xx-large;
    padding: 3%;
    border:10px solid #518cca
}

nav {
    text-align: right;
    margin-bottom: 2%;
    margin-right: 1%;
}

nav a {
    text-decoration: none;
    color: snow;
    background-color:red ;
    font-size: 150%;
    padding: 0.5%;
    border-radius: 5px;
}

#cards {
    background-color:#518cca;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    background-color: #518cca;
    width: auto;
    padding: 10%;
    text-align: center;
    border-radius: 25px;
    margin: 4%;
}

.card-flex {
    display: flex;
    justify-content: space-evenly;
}

.card img {
    width: 75%;
}

.card button {
    background-color: ghostwhite (0, 92%, 61%);
    
}

.card-content {
    font-family: fantasy;
    color: white;

}

footer {
    color: #ffffff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.card-action {
    color: turquoise;
}
