#noContentMessage {
    display: none;
}

body {
    justify-content: space-evenly;
    background-color: #000000;
}

header {
    color: #518cca;
    text-align: center;
    font-size: xx-large;
    padding: 3%;
    border:5px solid #518cca
}

nav {
    text-align: right;
    margin-bottom: 2%;
    margin-right: 1%;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    background-color: #F78F3F;
    font-size: 150%;
    padding: 0.5%;
    border-radius: 5px;
}

#modalToggle {
    text-align: center;
}

.modal {
    padding: 0;
}

#modalToggle button {
    background-color: #F78F3F;
}

#cards {
    background-color: #E23636;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#comicData {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #E23636;
}

#comicData .card {
    width: 18%;
    margin: 1% 0 1% 0;
    padding: 1%;
}

.comicImage:hover {
    cursor: pointer;
}

.card {
    display: none;
    background-color: #518cca;
    width: auto;
    padding: 10%;
    text-align: center;
    border-radius: 25px;
    margin: 4%;
}

.card-flex {
    display: flex;
    justify-content: space-evenly;
}

.card img {
    width: 75%;
}

#comicData .card img {
    width: 100%;
}

.card button {
    background-color: #F78F3F;
}

#characterDetails {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #E23636;
    padding: 1%;
}

#characterDetails img {
    height: 400px;
    border-radius: 25px;
}

#charDescription {
    width: 40%;
    color: #ffffff;
}

#characterComics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #504a4a;
}

#characterComics .card {
    width: 18%;
    margin: 1% 0 1% 0;
    padding: 1%;
}

footer {
    color: #ffffff;
    text-align: center;
}

.card:nth-child(-n+5) {
    display: block;
}